html {
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    box-sizing: border-box;
}

.header--dark{
    background-color: #515764;
    color: rgb(236, 236, 236);
    display: flex;
    flex-direction: row;
    align-items: center;
  height: 3rem;

}

.header__title {
    display: flex-start;
    font-size: 1.25rem;
    padding-left: 1rem;
}

.header__search {
    display: flex-end;
    font-size: 1,25rem;
    padding-right: 1rem;
    margin-left: auto;
}

.search__input {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
border: solid 1px white;
padding: 0.375rem, 0.75rem;
font-size: 1.2rem;
margin-right: -3px;
outline: none;
transition: border-color 0.15s;
}

.search__input:focus {
    border-color: rgb(128, 189, 255)
}


.search__btn {
    background-color: rgb(0, 123, 255);
    border: solid 1px  rgb(0, 123, 255);
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0.375rem, 0.75rem;
    font-size: 1.2rem;
    color: rgb(236, 236, 236);
    margin-left: -1px;
}

main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

aside {
    background-color: rgb(33, 37, 41);
    min-width: 12rem;
    color: rgb(236, 236, 236);
}


.main__nav {
    background-color: #333741;
    
}

.nav__ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content {
    flex-basis: 100%;
    padding: 0 2rem;
}

.main__breadcrumb {
    padding: 1rem 1.5rem;
    border-radius: 0.25rem;
    list-style: none;
    background-color: rgb(233, 236, 239);

}

.main__cards {
    display: flex;
    flex-direction: row;

}

.main__card {
    flex-basis: 100%;
    margin: 1rem;
    color: rgb(236, 236, 236);
    border-radius: 0.25rem;
    
}

.card__top {
    padding: 1.5rem 1.25rem;
    font-size: 1.1rem;
    display: flex;

}

.card__bottom {
    padding: 1.5rem 1.25rem;
    font-size: 0.85rem;
    border-top: solid 1px rgb(255, 255, 255);
    display: flex;
    }

.main__card.main__card--blue {
    background-color: rgb(0, 123, 255);
}

.main__card.main__card--yellow {
    background-color: rgb(255, 193, 7);
}

.main__card.main__card--green {
    background-color: rgb(40, 167, 69);
}

.main__card.main__card--red {
    background-color: rgb(220, 53, 69);
}

.card__top.card__bottom {
    transition: background-color 0.3s;
}
